<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ashley Vernon</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Ashley Vernon's Personal API</h1>
          <center><h4><a href="/api">API Documentation</a></h4>
        </div>
      </div>
    </div>
      <div id='profileTarget'>
        <div>
          <h2 class="text-center">My Adventures</h2>
          <div class="row">
            <form class="form-inline" id="newAdventureForm">
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="locationAdventurea" placeholder="Add new location..." required />
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-control" name="date" placeholder="Date of adventure...">
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" name="typeOfAdventure" placeholder="Type of adventure...">
              </div>
              <div class="form-group">
                <label for="length">Length</label>
                <input type="text" class="form-control" name="lengthOfAdventure" placeholder="Length of adventure...">
              </div>
              <button type="submit">Create Adventure</button>
            </form>
          </div>
        </div>
        <div id="adventureTarget">
          <script id="adventure-template" type="text/x-handlebars-template">
            {{#each adventures}}  
                <div class="newAdventure">
                  <hr>
                  <p>
                     <b>{{this.location}}</b>
<!--                      {{this.image}} -->
                     <b>{{this.date}}</b>
                     <b>{{this.typeOfAdventure}}</b>
                     <b>{{this.lengthOfAdventure}}</b>
                    <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
                  <p>
                  <hr>
                </div>
            {{/each}}
<!--             <button type="button" name="button" class="deleteBtn btn btn-danger">Delete</button> -->
          </script>
        </div>
      </div>
          <!-- handlebars template -->
          <script id="profile-template" type="text/x-handlebars-template">
            <div class="profileItem">
              <h2>{{name}}</h2>
              <img src="{{githubProfileImage}}" alt="Ashley Vernon" height="200" width="200">
              <a href="{{githubLink}}">My Github</a>
              <a href="{{personalSiteLink}}">My Portfolio</a>
              <p>City: {{currentCity}}</p>
              <p>Pets: {{pets}}</p>
            </div>
          </script>
  </body>    
</html>
