body {
  color: #333;
  font-family: "Lucida Bright", Georgia, serif;
  background-color: #dbefed; /* Sanity Check! */
}

h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 48px;
}

h2 {
	text-align: center;
}

img {
	display: block;
}

#newAdventureForm {
	display: block;
}

.form-group {
	display: block;
}

.link {
	display: block;
}

.locate {
	font-size: 19px;
}
.link {
	color: navy;
}

a:link, a:visited {
    color: navy;
    text-align: center; 
    text-decoration: none;
    display: block;
}

a:hover {
	color: white;
}

.btn {
	background-color: #2b6984;
}
